<div class="derived-attribute-list">
    {{#each derivedAttributes as |attribute attributeId|}}
    <div class="derived-attribute" id="{{attributeId}}">
        <label>{{localize attribute.label.short}}</label>
        {{#if ../editable}}
        <input name="derivedAttributes.{{attributeId}}" type="text" value="{{attribute.value}}" data-dtype="Number">
        {{else}}
        <span>{{attribute.value}}</span>
        {{/if}}
    </div>
    {{/each}}
    <div class="damage-reduction">
        <label>{{localize "splittermond.damageReductionAbbrev"}}</label>
        {{#if ../editable}}
        <input name="damageReduction" type="text" value="{{damageReduction}}" data-dtype="Number">
        {{else}}
        <span>{{damageReduction}}</span>
        {{/if}}
    </div>
</div>