<div class="attributes derived-attributes">
    {{#each derivedAttributes as |attribute attributeId|}}
    <div class="attribute" id="{{attributeId}}">
        <label>{{localize attribute.label.short}}</label>
        {{#if attribute.editable}}
        <input name="data.derivedAttributes.{{attributeId}}.value" type="text" value="{{attribute.value}}"
            data-dtype="Number">
        {{else}}
        <span>{{attribute.value}}</span>
        {{/if}}
    </div>
    {{/each}}
</div>
<div class="damage-reduction">
    <label>{{localize "splittermond.damageReductionAbbrev"}}</label>
    {{#if damageReduction.editable}}
    <input name="data.damageReduction.value" type="text" value="{{damageReduction.value}}" data-dtype="Number">
    {{else}}
    <span>{{damageReduction.value}}</span>
    {{/if}}
</div>