<form class="{{cssClass}}" autocomplete="off">
    <header>
        <section>
            <div>
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="92" width="92" />
            </div>
            <div class="details">
                <h1>
                    <input name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'splittermond.name' }}" />
                </h1>
                <div class="experience">
                    <div class="bar">
                        <div style="width: {{data.experience.percentage}}%"></div>
                    </div>
                    <div class="label">
                        {{localize "splittermond.heroLevel"}} {{data.experience.heroLevel}} -
                        {{data.experience.heroLevelName}}
                    </div>
                    <div class="value">
                        <input class="autoexpand" name="data.experience.spent" type="text"
                            value="{{data.experience.spent}}" placeholder="{{localize 'splittermond.xpSpent'}}" /> -
                        {{data.experience.nextLevelValue}}
                    </div>
                </div>
                <div class="description">
                    <input class="autoexpand" name="data.species.value" type="text" value="{{data.species.value}}"
                        placeholder="{{localize 'splittermond.species'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.sex" type="text" value="{{data.sex}}"
                        placeholder="{{localize 'splittermond.sex'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.culture" type="text" value="{{data.culture}}"
                        placeholder="{{localize 'splittermond.culture'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.ancestry" type="text" value="{{data.ancestry}}"
                        placeholder="{{localize 'splittermond.ancestry'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.education" type="text" value="{{data.education}}"
                        placeholder="{{localize 'splittermond.education'}}" />
                </div>

            </div>
            <div class="moonsign">
                <div class="splinterpoints" title="{{localize 'splittermond.splinterpoints'}}">
                    <input type="text" data-field="data.splinterpoints.value" value="{{data.splinterpoints.value}}"
                        data-dtype="Number">
                    <span> / {{data.splinterpoints.max}}</span>
                </div>
                {{#each itemsByType.moonsign}}
                <img src="{{this.img}}" title="{{this.name}}" height="64" width="64" />
                <label class="tooltip-activator">{{this.name}}</label>
                <div class="tooltip">
                    {{{this.data.description}}}

                    <h3>{{localize "splittermond.enhancementDescription"}}</h3>
                    <p>{{this.data.enhancement}}</p>
                    <h3>{{localize "splittermond.secretGift"}}</h3>
                    <p>{{this.data.secretGift}}</p>
                </div>
                {{/each}}

            </div>
        </section>

        <section>
            {{> "systems/splittermond/templates/sheets/actor/parts/attribute-input.hbs" attributes=data.attributes
            derivedAttributes=data.derivedAttributes}}
            {{> "systems/splittermond/templates/sheets/actor/parts/focus-health.hbs" focus=data.focus
            health=data.health}}
        </section>
    </header>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="general">{{ localize "splittermond.general" }}</a>
        <a class="item" data-tab="skills">{{ localize "splittermond.skills" }}</a>
        <a class="item" data-tab="spells">{{ localize "splittermond.spells" }}</a>
        <a class="item" data-tab="fight">{{ localize "splittermond.fight" }}</a>
        <a class="item" data-tab="inventory">{{ localize "splittermond.inventory" }}</a>
        <a class="item" data-tab="status">{{ localize "splittermond.status" }}</a>
    </nav>
    <main class="tab-list">
        <section class="tab general" data-group="primary" data-tab="general">
            <div class="list" data-item-type="strength">
                <div class="list-header">
                    <h3>{{localize "splittermond.strengths"}}</h3>
                    <div class="actions">
                        <button class="button-inline" type="button" data-action="add-item" data-render-sheet="false">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="strengths">
                    {{#each itemsByType.strength}}
                    <li class="item tooltip-activator" data-item-id="{{this._id}}">
                        <div class="name">{{this.name}}</div>
                        <div class="tooltip">
                            {{{this.data.description}}}
                        </div>
                        <div class="actions">
                            <button class="button-inline" data-action="edit-item" type="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="button-inline" data-action="delete-item" type="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="list" data-item-type="weakness">
                <div class="list-header">
                    <h3>{{localize "splittermond.weaknesses"}}</h3>
                    <div class="actions">
                        <button class="button-inline" type="button" data-action="add-item" data-render-sheet="false">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="weaknesses">
                    {{#each itemsByType.weakness}}
                    <li class="item tooltip-activator" data-item-id="{{this._id}}">
                        <input class="name" type="text" data-field="name" value="{{this.name}}">
                        <div class="tooltip">
                            {{{this.data.description}}}
                        </div>
                        <div class="actions">
                            <button class="button-inline" data-action="edit-item" type="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="button-inline" type="button" data-action="delete-item">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    {{/each}}
                </ul>

            </div>
            <div class="list" data-item-type="resource">
                <div class="list-header">
                    <h3>{{localize "splittermond.resources"}}</h3>
                    <div class="actions">
                        <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="resources">
                    {{#each itemsByType.resource}}
                    <li class="item tooltip-activator" data-item-id="{{this._id}}">
                        <input class="name" type="text" data-field="name" value="{{this.name}}">
                        <input type="text" data-field="data.value" value="{{this.data.value}}" data-dtype="Number">
                        <div class="tooltip">
                            {{{this.data.description}}}
                        </div>
                        <div class="actions">
                            <button class="button-inline" data-action="edit-item" type="button"><i class="fa fa-edit"
                                    aria-hidden="true"></i></button>
                            <button class="button-inline" type="button" data-action="delete-item"><i
                                    class="fas fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </li>

                    {{/each}}
                </ul>

            </div>
        </section>
        <section class="tab skills" data-group="primary" data-tab="skills">
            <div class="list skills" data-roll-type="skill">
                <div class="list-header">
                    <h3>{{localize "splittermond.generalSkills"}}</h3>
                </div>
                <ol class="skill-list">
                    {{#each data.generalSkills as |skill skillId|}}
                    <li class="draggable" data-skill="{{skillId}}">
                        <label>
                            <a class="rollable">
                                {{localize skill.label}}
                            </a>
                        </label>
                        <div class="points">
                            <input name="data.skills.{{skillId}}.points" type="text" value="{{skill.points}}">
                        </div>
                        <div class="attribute">{{localize skill.attribute1.label}}</div>
                        <div class="attribute">{{localize skill.attribute2.label}}</div>
                        <div class="value tooltip-activator">{{skill.value}}</div>
                        {{#if skill.bonus}}
                        <div class="bonus-malus-description tooltip">
                            {{#each skill.bonus.equipment}}
                            <label>{{this.description}}</label>
                            <div class="value">{{this.value}}</div>
                            {{/each}}
                            {{#each skill.bonus.magic}}
                            <label>{{this.description}}</label>
                            <div class="value">{{this.value}}</div>
                            {{/each}}
                            {{#each skill.bonus.misc}}
                            <label>{{this.description}}</label>
                            <div class="value">{{this.value}}</div>
                            {{/each}}
                            {{#each skill.malus.all}}
                            <label>{{this.description}}</label>
                            <div class="value">{{this.value}}</div>
                            {{/each}}
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol>
                <div class="list-header">
                    <h3>{{localize "splittermond.fightingSkills"}}</h3>
                </div>
                <ol class="skill-list">
                    {{#each data.fightingSkills as |skill skillId|}}
                    <li>
                        <label>
                            {{localize skill.label}}
                        </label>
                        <div class="points">
                            <input name="data.skills.{{skillId}}.points" type="text" value="{{skill.points}}">
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <div class="list-header">
                    <h3>{{localize "splittermond.magicSkills"}}</h3>
                </div>
                <ol class="skill-list">
                    {{#each data.magicSkills as |skill skillId|}}
                    <li class="draggable" data-skill="{{skillId}}">
                        <label>
                            <a class="rollable">{{localize skill.label}}</a>
                        </label>
                        <div class="points">
                            <input name="data.skills.{{skillId}}.points" type="text" value="{{skill.points}}">
                        </div>
                        <div class="attribute">{{localize skill.attribute1.label}}</div>
                        <div class="attribute">{{localize skill.attribute2.label}}</div>
                        <div class="value">{{skill.value}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            {{> "systems/splittermond/templates/sheets/actor/parts/mastery-list.hbs"
            masteriesBySkill=masteriesBySkill}}
        </section>
        <section class="tab spells" data-group="primary" data-tab="spells">
            <div>
                {{> "systems/splittermond/templates/sheets/actor/parts/spells-list.hbs" spellsBySkill=spellsBySkill
                channeledSpells=data.focus.channeled.entries}}
            </div>
        </section>
        <section class="tab fight" data-group="primary" data-tab="fight">
            <div>
                {{> "systems/splittermond/templates/sheets/actor/parts/combat-actions.hbs" itemsByType=itemsByType
                activeDefense=data.activeDefense}}
            </div>
        </section>
        <section class="tab inventory" data-group="primary" data-tab="inventory">
            <div>
                {{> "systems/splittermond/templates/sheets/actor/parts/inventory-list.hbs" itemsByType=itemsByType}}
            </div>
        </section>
        <section class="tab status" data-group="primary" data-tab="status">
            <div class="damage">
                <div class="list">
                    <div class="list-header">
                        <h3>{{localize "splittermond.channeledDamage"}}</h3>
                        <div class="actions">
                            <button class="button-inline" type="button" data-action="add-channeled-health"
                                data-render-sheet="0">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <ol data-array="data.health.channeled.entries">
                        {{#each data.health.channeled.entries}}
                        <li data-index="{{@index}}">
                            <input data-array-field="description" type="text" value="{{this.description}}">

                            <div class="costs"><input data-array-field="costs" type="text" value="{{this.costs}}"
                                    data-dtype="Number"></div>
                            <div class="actions">
                                <button class="button-inline" type="button" data-action="delete-array-element">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>

            </div>
        </section>
    </main>

</form>