<div class="splittermond check {{rollResultClass}}">
    <header class="chat-message-header">
        <div>
            <h2>{{title}}</h2>
        </div>
    </header>
    <div class="degree-of-success">
        <div>
            {{#times usedDegreesOfSuccess}}
                <i class="fas fa-star"></i>
            {{/times}}
            {{#times openDegreesOfSuccess}}
                <i class="stars fas fa-star"></i>
            {{/times}}
        </div>
        <strong>{{totalDegreesOfSuccess}}&nbsp;EG</strong> {{degreeOfSuccessMessage}}
    </div>
    {{#if this.degreeOfSuccessOptions}}
        <input id="nasiges" type="number", min="0"/><label for="nasiges">Test</label>
        <div class="degree-of-success-description">
            {{#each this.degreeOfSuccessOptions}}
                <div class="splittermond-inline-label-input">
                    <input
                            id="{{id}}"
                            type="checkbox"
                            class="splittermond-chat-action inline-label-input"
                        {{#if checked}}checked{{/if}}
                        {{#if disabled}}disabled{{/if}}
                            data-action="{{action}}"
                    />
                    <label class="inline-label" for="{{id}}">{{text}}</label>
                </div>
            {{/each}}
        </div>
    {{/if}}
<div class="actions">
    <h3>{{localize "splittermond.furtherActions"}}</h3>
    {{#with actions}}
        {{#if applyDamage}}
            {{> "applyDamageButton" applyDamage}}
        {{/if}}
        {{#if consumeCosts}}
            {{> "consumeCostsButton" consumeCosts}}
        {{/if}}
        {{#if advanceToken}}
            {{> "advanceTokenButton" advanceToken}}
        {{/if}}
        {{#if useSplinterpoint}}
            {{> "useSplinterpointButton" useSplinterpoint}}
        {{/if}}
    {{/with}}

    {{#* inline "applyDamageButton"}}
        <button class="splittermond-chat-action" data-action="applyDamage" {{#if disabled}}disabled{{/if}}>
            <i class="fas fa-heart-broken"></i>
            {{value}} {{localize "splittermond.damage"}}
        </button>
    {{/inline}}
    {{#* inline "consumeCostsButton"}}
        <button class="splittermond-chat-action" data-action="consumeCosts" {{#if disabled}}disabled{{/if}}>
            <i class="fas fa-bullseye"></i>
            {{value}} {{localize "splittermond.focusCostsAbbrev"}}
        </button>
    {{/inline}}
    {{#* inline "advanceTokenButton"}}
        <button class="splittermond-chat-action" data-action="advanceToken" {{#if disabled}}disabled{{/if}}>
            <i class="fas fa-stopwatch"></i>
            {{value}} {{localize "splittermond.ticks"}}
        </button>
    {{/inline}}
    {{#* inline "useSplinterpointButton"}}
        <button class="splittermond-chat-action" data-action="useSplinterpoint" {{#if disabled}}disabled{{/if}}>
            <i class="fas fa-moon"></i>
            {{localize "splittermond.splinterpoint"}}
        </button>
    {{/inline}}
</div>
</div>
</div>

