<div class="splittermond check {{rollResultClass}}">
    <header class="chat-message-header">
        {{#with header}}
            <div>
                <h2>{{title}}</h2>
                <span class="roll-type">{{rollTypeMessage}}</span>
                {{#if difficulty}}
                    <span class="{{#if hideDifficulty}}gm-only{{/if}}">
                &nbsp;{{localize "splittermond.versus"}}&nbsp;<span class="difficulty">{{difficulty}}</span>
            </span>
                {{/if}}
            </div>
        {{/with}}
    </header>
    {{> roll-result rollResult}}
    {{> degree-of-success-display degreeOfSuccessDisplay}}
    {{#if this.degreeOfSuccessOptions}}
        <strong>{{localize "splittermond.degreeOfSuccessOptionsHeader"}}</strong>
        <div class="degree-of-success-description">
            {{#each this.degreeOfSuccessOptions}}
                <div class="splittermond-inline-label-input">
                    <input
                            id="{{id}}"
                            type="checkbox"
                            class="splittermond-chat-action inline-label-input"
                        {{#if checked}}checked{{/if}}
                        {{#if disabled}}disabled{{/if}}
                            data-action="{{action}}"
                    />
                    <label class="inline-label" for="{{id}}">{{text}}</label>
                </div>
            {{/each}}
        </div>
    {{/if}}
    <div class="actions">
        <h3>{{localize "splittermond.furtherActions"}}</h3>
        {{#with actions}}
            {{#if activeDefense }}
                {{> "activeDefenseButton" activeDefense}}
            {{/if}}
            {{#if applyDamage}}
                {{> "applyDamageButton" applyDamage}}
            {{/if}}
            {{#if consumeCosts}}
                {{> "consumeCostsButton" consumeCosts}}
            {{/if}}
            {{#if advanceToken}}
                {{> "advanceTokenButton" advanceToken}}
            {{/if}}
            {{#if useSplinterpoint}}
                {{> "useSplinterpointButton" useSplinterpoint}}
            {{/if}}
            {{#if rollFumble}}
                {{> "rollFumbleButton" rollFumble}}
            {{/if}}
        {{/with}}

        {{#* inline "applyDamageButton"}}
            <button class="splittermond-chat-action" data-action="applyDamage" {{#if disabled}}disabled{{/if}}>
                <i class="fas fa-heart-broken"></i>
                {{value}} {{localize "splittermond.damage"}}
            </button>
        {{/inline}}
        {{#* inline "consumeCostsButton"}}
            <button class="splittermond-chat-action" data-action="consumeCosts" {{#if disabled}}disabled{{/if}}>
                <i class="fas fa-bullseye"></i>
                {{value}} {{localize "splittermond.focusCostsAbbrev"}}
            </button>
        {{/inline}}
        {{#* inline "advanceTokenButton"}}
            <button class="splittermond-chat-action" data-action="advanceToken" {{#if disabled}}disabled{{/if}}>
                <i class="fas fa-stopwatch"></i>
                {{value}} {{localize "splittermond.ticks"}}
            </button>
        {{/inline}}
        {{#* inline "useSplinterpointButton"}}
            <button class="splittermond-chat-action" data-action="useSplinterpoint" {{#if disabled}}disabled{{/if}}>
                <i class="fas fa-moon"></i>
                {{localize "splittermond.splinterpoint"}}
            </button>
        {{/inline}}
        {{#* inline "rollFumbleButton"}}
            <button class="splittermond-chat-action" data-action="rollMagicFumble" {{#if disabled}}disabled{{/if}}>
                <i class="fas fa-dice"></i>
                {{localize "splittermond.fumbleTableLabel"}}
            </button>
        {{/inline}}
        {{#* inline "activeDefenseButton"}}
            <button class="local-splittermond-chat-action" data-action="activeDefense">
                <i class="fas fa-shield-alt"></i>
                {{localize "splittermond.activeDefense"}} ({{difficulty}})
            </button>
        {{/inline}}
    </div>
</div>
