<div class="roll-summary dice-roll" data-action="expandRoll">
    <div class="roll-total">{{rollTotal}}</div>
    <div class="dice-tooltip">
        {{#if skillAndModifierTooltip}}
            {{> skillAndModifierTooltip skillAndModifierTooltip}}
        {{/if}}
        {{{rollTooltip}}}
        {{#if actionDescription}}
            {{> actionDescription actionDescription}}
        {{/if}}
    </div>
</div>

{{#* inline "skillAndModifierTooltip" }}
    <div class="dice-tooltip">
        <div class="wrapper">
            <section class="tooltip-part">
                <p>
            <span class="formula">
                {{#each this}}
                    <span class="{{classes}}">
                    <span class="value">{{value}}</span>
                        {{#if description}}
                            <span class="description">{{description}}</span>
                        {{/if}}
                </span>
                {{/each}}
            </span>
                </p>
            </section>
        </div>
    </div>
{{/inline}}

{{#* inline "actionDescription"}}
    <div class="dice-tooltip">
        <div class="wrapper">
            <section class="tooltip-part">
                <p>
                    {{{this}}}
                </p>
            </section>
        </div>
    </div>
{{/inline}}